<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/07c5e5ce-05a4-4b1a-9f75-c566f2178fd8/resourcegroups/licenta-rg/providers/Microsoft.ContainerRegistry/registries/ApplicationAPI20250116004049</ContainerResourceId>
    <ContainerResourceName>ApplicationAPI20250116004049</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>applicationapi20250116004049.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>licenta-ca</ContainerName>
    <EnvironmentName>licenta-env-ca</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://applicationapi-app-2025011600373.delightfulbush-856d5b3f.uksouth.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/07c5e5ce-05a4-4b1a-9f75-c566f2178fd8/resourceGroups/licenta-rg/providers/Microsoft.App/containerApps/applicationapi-app-2025011600373</ResourceId>
    <ResourceGroup>licenta-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>