<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/94aff367-622b-47e4-b907-11986c2894e0/resourcegroups/licenta/providers/Microsoft.ContainerRegistry/registries/ApplicationAPI20250128013600</ContainerResourceId>
    <ContainerResourceName>ApplicationAPI20250128013600</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>applicationapi20250128013600.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>bootstrap-container-pre-artifact-upload</ContainerName>
    <EnvironmentName>managedEnvironment-licenta-aeb3</EnvironmentName>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/94aff367-622b-47e4-b907-11986c2894e0/resourceGroups/licenta/providers/Microsoft.App/containerapps/licenta-ca</ResourceId>
    <ResourceGroup>licenta</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>